fastapi
uvicorn
motor
sqlalchemy
passlib
bcrypt
python-jose
python-multipart
uuid
typing
databases
pydantic
DateTime
pydantic[dotenv]
pydantic[email]
asyncpg
psycopg2-binary
jwt
streamlit
sqlalchemy-utils
alembic
async-sqlalchemy
fastapi-offline